.jokeBox{
	width: 350px;
}
.joke-container{
	display: flex;
	flex-direction:column;
}
.joke-types-header{
	font-weight: 500;
	font-family: pacifico;
	font-size: 2em;
	opacity: .4;
	-webkit-user-select: none;
}
.joke-types{
	display:flex;
	justify-content: space-between;
	max-width: fit-content;
	margin-bottom: 1em;
	margin-top: .5em;
}
.joke-types button{
	height: 32px;
	width: 125px;
	cursor: pointer;
	background: transparent;
	box-shadow: 0px 1px 3px black;
	border:none;
	font-weight: 500;
	font-family: Segoe UI;
	border-radius: 5px;
	-webkit-user-select: none;
}
.joke-types button:nth-child(2){
	margin-right: .5em;
	margin-left: .5em;
}
.joke-types button:active{
	transform: scale(0.9);
}
.joke-types button:focus{
	outline: none;
}
.joke{
	font-family: Segoe UI;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-size: 1em;
	max-width: 400px;
}
/* .joke-setup{
} */
.joke-delivery{
	font-size: 1.2em;
	font-weight: 700;
	font-style: italic;
}