
.user-box {
  display: flex;
  width: fit-content;
  justify-content: space-between;
}
.profile-img {
  border-radius: 50%;
  box-shadow: -2px 0px 4px #bbbbbb;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border:1px solid transparent;
  animation: fadeIn 1s;
}
.profile-img:active{
  transform: scale(1.1);
}
.profile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  z-index: 10;
  visibility: hidden;
  width: fit-content;
  margin-right: 1em;
}

.profile-nav span{
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
  opacity: .7;
  color: rgb(179, 179, 179);
  transition: .1s ease;
  text-transform: lowercase;
  animation: fadeIn 1s;
}
.profile-nav span:first-child{
  user-select: none;
  cursor: auto;
  opacity: 1;
  color: black;
}
.profile-nav span:last-child{
  margin-right: 0px;
}

.profile-nav span:hover{
  opacity: 1;
  color: black;
}
.profile-nav span:first-child:hover{
  margin-bottom: 0px;
}
