.tool-box{
	margin-top: 7%;
}
.tool-nav{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 2em;
}
.tool {
	display: flex;
	flex-direction: column;	
}
.tool h2{
	text-align: center;
	font-weight: 500;
	font-size: 1em;
	font-family: Segoe UI;
}
.tool-name{
	text-align: center;
	cursor: pointer;
	font-family: pacifico;
	font-size: 3em;
	background-color: black;
	border-radius: 8px;
	user-select: none;
	-webkit-user-select: none;
	margin-bottom: .3em;
	color:rgb(224, 165, 75);
	padding: .3em;
}
.tool-name.active{
	color:#fc7e2f;
	box-shadow: 0px 1px 6px black;
}
@media (max-width: 1000px){
	.tool-nav{
		grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width: 670px){
	.tool-nav{
		grid-template-columns: repeat(1,1fr);
		grid-gap: 1em;
	}
}
.tool-name:last-child{
	margin-right: 0;
}
.undefined{
	opacity: .3 !important;
	color: gray !important;
	user-select: none;
}

.tool-icons{
	display: grid;
	grid-template-columns: repeat(10,1fr);
	text-align: center;
	margin-bottom: .3em;
}
.tool-heart{
	opacity: .4;
	grid-column: 10/10;
	cursor: pointer;
}
.arrow-down{
	color:rgb(224, 165, 75);
	transition: .2s ease-in-out;
	grid-column: 5/7;
	text-align: center;
}
.arrow-down i{
	font-weight: 700;
	font-size: 1.5em;
}
.arrow-down.active{
	color: #fc7e2f;
	transform: rotate(540deg);
	opacity: 1;
}
.tool-drop{
	justify-content: center;
}
