@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	  to { opacity: 1; }
  }
  @keyframes fadeIn {
	from { opacity:  0; }
	  to { opacity: auto;}
  }
.tool-box{
	margin-top: 10%;
}
.tool-nav{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 2em;
}
.tool {
	display: flex;
	flex-direction: column;	
}
.tool h2{
	text-align: center;
	font-weight: 500;
	font-size: 1em;
	font-family: Segoe UI;
}
.tool-name{
	text-align: center;
	cursor: pointer;
	font-family: pacifico;
	font-size: 3em;
	transition: .2s ease-in-out;
	border: 3px solid black;
	background-color: black;
	width: 100%;
	border-radius: 8px;
	user-select: none;
	-webkit-user-select: none;
	margin-bottom: .3em;
	transition: .1s ease-in-out;
	color:rgb(224, 165, 75);
}
.tool-name.active{
	box-shadow: 0px 1px 6px black;
	color:#fc7e2f;
}
@media (max-width: 1000px){
	.tool-nav{
		grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width: 670px){
	.tool-nav{
		grid-template-columns: repeat(1,1fr);
		grid-gap: 1em;
	}
}
.tool-name:last-child{
	margin-right: 0;
}
.undefined{
	opacity: .3 !important;
	color: gray !important;
	user-select: none;
}

.arrow-down{
	text-align: center;
	margin-bottom: .3em;
	color:rgb(224, 165, 75);
	transition: .2s ease-in-out;
}
.arrow-down i{
	font-weight: 700;
	font-size: 1.5em;
}
.arrow-down.active{
	color: #fc7e2f;
	transform: rotate(540deg);
	opacity: 1;
}
.tool-drop{
	justify-content: center;
}
