.box{
	min-height: 250px;
	max-width: 370px;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}
.box-inside{
	display: flex;
	flex-direction:column;
	/* box-shadow: 0 -5px 5px -5px #333; */
	padding-left: 1em;
	padding-right: 1em;
}
.box-inside-header{
	font-weight: 500;
	font-family: pacifico;
	font-size: 2em;
	opacity: .4;
	-webkit-user-select: none;
	display: none;
}
.box-inside-types{
	display:flex;
	justify-content: flex-start;
	margin-bottom: .7em;
	margin-top: .2em;
	box-shadow: rgba(41, 41, 41, 0.377) 0px 10px 10px -10px;
	padding-bottom: .3em
}
.box-inside-types button{
	background-color: transparent;
	border: none;
	height: 32px;
	width: 100px;
	cursor: pointer;
	font-size: .7em;
	font-weight: 700;
	font-family: Segoe UI;
	color:#00000057;
	letter-spacing: -0.02em;
	border-radius: 5px;
	-webkit-user-select: none;
	transition: color .1s ease-in-out;
}
.box-inside-types button:hover{
	color:black;
}
.box-inside-types button:nth-child(2){
	margin-right: .5em;
	margin-left: .5em;
}
.box-inside-types button:active{
	transform: scale(0.9);
}
.box-inside-types button:focus{
	outline: none;
}
.box-inside-text{
	font-family: Segoe UI;
	letter-spacing: -0.02em;
	font-weight: 500;
	font-size: .9em;
}

.quote-author{
	display: flex;
	justify-content: flex-end;
	font-family: pacifico;
	font-weight: 300;
	margin-top: .5em;
}