@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f3eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.display-none{
display: none;
}
.display-block{
display: block;
}
.display-flex{
  display:flex;
}
.mw-75{
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	  to { opacity: 1; }
  }
  @keyframes fadeIn {
	from { opacity:  0; }
	  to { opacity: auto;}
  }

  .page-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    -webkit-user-select: none;
  }
  .page-header h1{
    font-family: pacifico;
    font-size: 2.2em;
  }
  .page-header span{
    font-family: Segoe UI;
    opacity: .4;
    font-weight: 500;
    letter-spacing: -0.02em;
  }