header {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: transparent;
  user-select: none;
  margin-bottom: 2em;
}
.navigationBarWrapper {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logotype {
  max-width: 250px;
  cursor: pointer;
}
.site-name{
  font-family: pacifico;
  margin-right: auto;
  font-size: 3em;
  cursor: pointer;
  -webkit-user-select: none;

}
.signIn {
  cursor: pointer;
  font-weight: 500;
}
